@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
body {
    background-color: #222;
    color: #fff;
}

.container {
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}

.container h3, h4 {
    color: #00bc8c;
    font-weight: bold;
    font-size: 20px;
}

.container img {
    width: 90%;
    margin: 20px 0;
    padding: 5px;
    border: 1px solid #00bc8c;
}
.dict h2 {
    margin: 30px 0;
}

.container table {
    width: 90%;
    margin: 0 auto;
}
.container table tr:hover {
    background-color: #404040;
}
.container table td {
    /* width: 50%; */
    padding: 5px;
}
.container table, td {
    border: 1px solid #00bc8c;
    border-collapse: collapse;
}

.dilbilisi {
    width: 100%;
    text-align: left;
}
.dilbilisi span {
    font-size: 18px;
}
